If haven't already downloaded the aiabnb data, run `insideairbnb.py` in the `download_tools` directory

In [128]:
import os

data_dir = r"../data/listings/"
file_name_list = os.listdir(data_dir)
file_name_list

['riga_latvia_2023-06-29_listings.csv.gz',
 'prague_czech-republic_2023-06-24_listings.csv.gz',
 'brussels_belgium_2023-06-24_listings.csv.gz',
 'london_united-kingdom_2023-06-08_listings.csv.gz',
 'singapore_singapore_2023-06-28_listings.csv.gz',
 'bangkok_thailand_2023-06-26_listings.csv.gz',
 'santiago_chile_2023-06-28_listings.csv.gz',
 'paris_france_2023-06-06_listings.csv.gz',
 'rome_italy_2023-06-10_listings.csv.gz',
 'taipei_taiwan_2023-06-30_listings.csv.gz',
 'berlin_germany_2023-06-22_listings.csv.gz',
 'vienna_austria_2023-06-10_listings.csv.gz',
 'dublin_ireland_2023-06-10_listings.csv.gz',
 'athens_greece_2023-06-25_listings.csv.gz',
 'oslo_norway_2023-06-29_listings.csv.gz',
 'amsterdam_the-netherlands_2023-06-05_listings.csv.gz',
 'copenhagen_denmark_2023-06-29_listings.csv.gz',
 'stockholm_sweden_2023-06-29_listings.csv.gz',
 'lisbon_portugal_2023-06-12_listings.csv.gz',
 'madrid_spain_2023-06-10_listings.csv.gz',
 'tokyo_japan_2023-06-29_listings.csv.gz']

In [129]:
city, country, data_date, _ = file_name.split('_')
print(city, country, date)

riga latvia 2023-06-29

##  Get the data

In [130]:
import pandas as pd

df = pd.read_csv(data_dir + file_name)
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,21134,https://www.airbnb.com/rooms/21134,20230629191658,2023-06-29,city scrape,Rental unit in Riga · ★4.75 · 1 bedroom · 1 be...,Cozy room in a shared flat with to other peopl...,"The flat is in the urban, a bit bohemian centr...",https://a0.muscache.com/pictures/1850842/2a1b8...,80446,...,4.90,4.58,4.83,NaN,f,2,0,2,0,0.51
1,120480,https://www.airbnb.com/rooms/120480,20230629191658,2023-06-29,city scrape,Rental unit in Riga · ★4.58 · 2 bedrooms · 2 b...,"Apartment ""Magic of Riga History"" is ideal for...",NaN,https://a0.muscache.com/pictures/1858364/affbf...,606352,...,4.89,4.94,4.76,NaN,f,1,1,0,0,3.64
2,253753,https://www.airbnb.com/rooms/253753,20230629191658,2023-06-29,previous scrape,Rental unit in Riga · ★4.92 · 1 bedroom · 2 be...,"Fireplace, free WIFI, kitchen, TV, DVD,<br /><...",NaN,https://a0.muscache.com/pictures/2508228/f55e6...,1332828,...,4.94,4.89,4.89,NaN,f,1,1,0,0,0.87
3,260539,https://www.airbnb.com/rooms/260539,20230629191658,2023-06-29,city scrape,Rental unit in Riga · ★4.58 · 2 bedrooms · 5 b...,Cosy yet spacious 5th floor apartment in the c...,"Apartment is located in the centre, Old town i...",https://a0.muscache.com/pictures/miso/Hosting-...,1297653,...,4.78,4.44,4.68,NaN,f,2,2,0,0,0.34
4,275688,https://www.airbnb.com/rooms/275688,20230629191658,2023-06-29,city scrape,Rental unit in Riga · ★4.69 · 1 bedroom · 3 be...,Stylish cozy 1-bedroom apartment in renovated ...,"Apartment located in the heart of Old Riga, th...",https://a0.muscache.com/pictures/a664ffa0-5d7f...,1441076,...,4.75,4.88,4.44,NaN,t,9,9,0,0,0.13

## Drop irrelevant columns

In [131]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [132]:
df = df[['id', 'property_type', 'bedrooms', 'price']]
df.head()

       id                property_type  bedrooms   price
0   21134  Private room in rental unit       NaN  $10.00
1  120480           Entire rental unit       2.0  $56.00
2  253753           Entire rental unit       1.0  $58.00
3  260539           Entire rental unit       2.0  $80.00
4  275688           Entire rental unit       1.0  $75.00

## Filter for entire properties that have exactly 2 bedrooms

In [133]:
set(df['property_type'])

{'Boat',
 'Camper/RV',
 'Campsite',
 'Casa particular',
 'Dome',
 'Entire bungalow',
 'Entire cabin',
 'Entire condo',
 'Entire cottage',
 'Entire guest suite',
 'Entire guesthouse',
 'Entire home',
 'Entire home/apt',
 'Entire loft',
 'Entire place',
 'Entire rental unit',
 'Entire serviced apartment',
 'Entire townhouse',
 'Entire vacation home',
 'Entire villa',
 'Houseboat',
 'Private room',
 'Private room in bed and breakfast',
 'Private room in cabin',
 'Private room in camper/rv',
 'Private room in condo',
 'Private room in guest suite',
 'Private room in guesthouse',
 'Private room in home',
 'Private room in hostel',
 'Private room in loft',
 'Private room in rental unit',
 'Private room in serviced apartment',
 'Private room in tipi',
 'Room in aparthotel',
 'Room in boutique hotel',
 'Room in hotel',
 'Room in serviced apartment',
 'Shared room in bed and breakfast',
 'Shared room in home',
 'Shared room in hostel',
 'Shared room in rental unit',
 'Shared room in serviced apartment',
 'Tent',
 'Tiny home'}

In [134]:
property_types_to_keep = ['Entire bungalow', 
                          'Entire condo', 
                          'Entire cottage', 
                          'Entire guesthouse', 
                          'Entire home', 
                          'Entire home/apt', 
                          'Entire place', 
                          'Entire rental unit',
                          'Entire serviced apartment',
                          'Entire townhouse',
                          'Entire vacation home',
                          'Entire villa']

num_bedrooms_to_keep = 2

In [135]:
df = df[(df['property_type'].isin(property_types_to_keep)) & (df['bedrooms'] == num_bedrooms_to_keep)]
df.head()

        id       property_type  bedrooms    price
1   120480  Entire rental unit       2.0   $56.00
3   260539  Entire rental unit       2.0   $80.00
8   355961  Entire rental unit       2.0  $143.00
17  569469  Entire rental unit       2.0   $80.00
24  716025  Entire rental unit       2.0   $48.00

##  Clean price data

In [138]:
type(df.loc[1, 'price'])

str

In [139]:
def convert_str_price_to_int(val):
    return float(''.join(val[1:].split(',')))

def is_usd(val):
    if val[0] == '$':
        return True
    else:
        raise ValueError("Price is not USD", val)
    
def get_usd_value_for_row_element(row, column_name):
    try:
        if is_usd(row[column_name]):
            result = convert_str_price_to_int(row[column_name])
        return result
    except ValueError as e:
        print(f"Exception occurred at element '{column_name}' in row: \n{row}")
        print("Error:", e)
        return None  # Return a value or indicator of failure

In [140]:
df['price'] = df.apply(get_usd_value_for_row_element, args=['price'], axis=1)
df = df.rename(columns={'price': 'price_per_night_usd'})
df.head()

        id       property_type  bedrooms  price_per_night_usd
1   120480  Entire rental unit       2.0                 56.0
3   260539  Entire rental unit       2.0                 80.0
8   355961  Entire rental unit       2.0                143.0
17  569469  Entire rental unit       2.0                 80.0
24  716025  Entire rental unit       2.0                 48.0

## Calculate average price

In [141]:
avg_price_per_night_usd = round(df.price_per_night_usd.mean())
avg_price_per_night_usd

101

In [147]:
listings_contributing_to_average = df.price_per_night_usd.count()
listings_contributing_to_average

486

## Prepare values to write to DB

In [148]:
to_write_to_db = {
    'city': city,
    'country': country,
    'bedrooms': num_bedrooms_to_keep,
    'avg_price_per_night_usd': avg_price_per_night_usd,
    'listing_count': entries_contributing_to_average,
    'data_source_url': inside_airbnb_url,
    'data_source_data': data_date
}
to_write_to_db

{'city': 'riga',
 'country': 'latvia',
 'bedrooms': 2,
 'avg_price_per_night_usd': 101,
 'listing_count': 486,
 'data_source_url': 'http://insideairbnb.com/get-the-data/',
 'data_source_data': '2023-06-29'}